# ğŸ“Œ DataFrameì—ì„œ Dict íŠ¹ì • Key-Value ì¶”ì¶œ
### âœï¸ DB ì—°ê²°

In [5]:
import dotenv
import os
from pymongo import MongoClient
import pandas as pd

# í™˜ê²½ë³€ìˆ˜ ë¶ˆëŸ¬ì˜¤ê¸°
dotenv.load_dotenv(dotenv.find_dotenv())
USER = os.environ["MONGODB_USER"] # MongoDB user
PASSWORD = os.environ["MONGODB_PW"] # MongoDB password
PORT = int(os.environ["MONGODB_PORT"]) # MongoDB port

# DB ì—°ê²°
client = MongoClient("mongodb://" + USER + ":" + PASSWORD + "@j7e104.p.ssafy.io", PORT)

db = client.animation
dbcol_review = db.review

### âœï¸ ì‚¬ìš©í•  Data ë¶ˆëŸ¬ì˜¤ê¸°

In [6]:
profile = list(dbcol_review.find({}).limit(10))
profile

[{'_id': ObjectId('63229fd149994e87db0ad0ab'),
  'id': 34380175,
  'is_click_like': False,
  'count_like': 1,
  'profile': {'id': 4523846,
   'name': 'ë…¸ë‘ì´ìš©ì„±(wns****)',
   'image': 'https://image.laftel.net/profiles/default/58888b41-8ecd-4f4e-a890-24b2023d7f29.png',
   'profile_rank': {'rank': 0, 'continued_membership_days': None}},
  'score': 5,
  'content': '5ì .',
  'created': '2022-09-14T20:28:25.600188',
  'modified': '2022-09-14T20:28:25.603855',
  'is_spoiler': False,
  'animation': 39986},
 {'_id': ObjectId('63229fd149994e87db0ad0ac'),
  'id': 34378719,
  'is_click_like': False,
  'count_like': 0,
  'profile': {'id': 2976649,
   'name': 'í•˜ë‚«ë‘˜(rla********)',
   'image': 'https://image.laftel.net/profiles/default/b700435b-3ad2-4a31-9b72-3e9ae631dc47.png',
   'profile_rank': {'rank': 2, 'continued_membership_days': None}},
  'score': 3.5,
  'content': 'ìƒê°ë³´ë‹¤ ì¬ë¯¸ê°€ ì—†ë„¤ ìºë¦­í„°ë“¤ì— ê°œì„±ë„ ë³„ë¡œ ì—†ê³  ì£¼ë³€ ì¸ë¬¼ë“¤ì˜ ë¹„ì¤‘ì´ ì ìŒ ê°œì„± ë§ì€ ìºë¦­í„°ë“¤ì´ ë§ì•„ì•¼ ë³¼ë§Œ í•  ê²ƒ ê°™ì€ë° ì‘ê°€ì˜ ì—­ëŸ‰ì´ ë¶€ì¡±í•´ì„œ ê·¸ëŸ°ê°€ \në„ˆë¬´ ë“±ì¥ì¸ë¬¼ë“¤ì´ ì—†ê³  ë“±ì¥ ì¸ë¬¼ë“¤ì˜ ìŠ¤í† ë¦¬ë„ ë¶€ì¡±í•¨',
  'created': '2022-09-13T02:54:44.895115',
  'modified': '2022-09-13T02:54:44.899461',
  'is_spoiler': False,
  'animation': 39986},
 {'_id': ObjectId('63229fd149994e87db0ad0ad'),
  'id': 34377222,
  'is_click_like': False,
  'count_like': 1,
  'profile': {'id': 4759828,
   'name': 'ë¦¬ì œë¡œ3ê¸°ì¢€(dlr*********)',
   'image': 'https://image.laftel.net/profiles/default/5223c8da-b946-413c-b123-d8e087d78da3.jpg',
   'profile_rank': {'rank': 4, 'continued_membership_days': None}},
  'score': 5,
  'content': 'ì¬ë°ŒìŒ',
  'created': '2022-09-12T08:02:54.148711',
  'modified': '2022-09-12T08:02:54.151852',
  'is_spoiler': False,
  'animation': 39986},
 {'_id': ObjectId('63229fd149994e87db0ad0ae'),
  'id': 34375517,
  'is_click_like': False,
  'count_like': 1,
  'profile': {'id': 134827,
   'name': 'jobeomhe(job*****)',
   'image': 'https://image.laftel.net/profiles/default/257801c8-eda4-4401-8672-509080db808b.png',
   'profile_rank': {'rank': 1, 'continued_membership_days': None}},
  'score': 5,
  'content': 'ì¬ë°Œë„¤?',
  'created': '2022-09-11T02:05:28.268134',
  'modified': '2022-09-11T02:05:28.272353',
  'is_spoiler': False,
  'animation': 39986},
 {'_id': ObjectId('63229fd149994e87db0ad0af'),
  'id': 34375366,
  'is_click_like': False,
  'count_like': 0,
  'profile': {'id': 5873764,
   'name': 'í—ë¡ìˆŒì£¼ìˆ íšŒì „ê¸°í†±ë§¨ì¸ë¸”ë™(ekd******)',
   'image': 'https://image.laftel.net/profiles/default/726aa5b9-6a95-4484-82b4-14c79abc0be2.jpg',
   'profile_rank': {'rank': 1, 'continued_membership_days': None}},
  'score': 5,
  'content': 'ì£¼ìˆ íšŒì „ ã„´ã„´ ê³ ë¦´ë¼íšŒì „ ã…‡ã…‡',
  'created': '2022-09-10T23:41:02.227488',
  'modified': '2022-09-11T00:00:13.205362',
  'is_spoiler': False,
  'animation': 39986},
 {'_id': ObjectId('63229fd149994e87db0ad0b0'),
  'id': 34373921,
  'is_click_like': False,
  'count_like': 1,
  'profile': {'id': 5393838,
   'name': 'laftel_frl1g(9jn*******)',
   'image': 'https://image.laftel.net/profiles/default/fb48c8c7-ad22-4aa9-9038-c0637ba7e275.png',
   'profile_rank': {'rank': 0, 'continued_membership_days': None}},
  'score': 5,
  'content': 'ì´ëŸ° ì• ë‹ˆë¥¼ ë³¸ ë‚´ê°€ ì°¸ ìë‘ìŠ¤ëŸ½ë‹¤ ì£¼ìˆ íšŒì „ ë•ì— ìœ íƒ€ë€ ìµœì• ë¥¼\në§Œë‚¬ì–´..',
  'created': '2022-09-09T13:56:23.121496',
  'modified': '2022-09-09T13:56:23.125427',
  'is_spoiler': True,
  'animation': 39986},
 {'_id': ObjectId('63229fd149994e87db0ad0b1'),
  'id': 34362366,
  'is_click_like': False,
  'count_like': 1,
  'profile': {'id': 5842989,
   'name': 'ê³ ë…í•œê´´ì‹ê°€(w.y********)',
   'image': 'https://image.laftel.net/profiles/default/dfefe5b1-33f7-43c9-ab37-90f8db0f72c8.jpg',
   'profile_rank': {'rank': 0, 'continued_membership_days': None}},
  'score': 5,
  'content': 'ë‚˜ë‚˜ë¯¸',
  'created': '2022-09-07T05:28:52.318062',
  'modified': '2022-09-07T05:28:52.321723',
  'is_spoiler': False,
  'animation': 39986},
 {'_id': ObjectId('63229fd149994e87db0ad0b2'),
  'id': 34368644,
  'is_click_like': False,
  'count_like': 0,
  'profile': {'id': 2420394,
   'name': 'user4209i',
   'image': 'https://image.laftel.net/profiles/default/58888b41-8ecd-4f4e-a890-24b2023d7f29.png',
   'profile_rank': {'rank': 1, 'continued_membership_days': None}},
  'score': 1.5,
  'content': 'ì˜¤ë½ì„±ì„ ìœ„í•´ ì„œì‚¬ë¥¼ ê°„ì¶”ë ¸ë‹¤ê³  ë³´ê¸°ì—”\nê·¸ëƒ¥ ì„œì‚¬ ìì²´ë¥¼ êµ¬ì„±í•  ëŠ¥ë ¥ì´ ì•ˆë˜ëŠ”ë° ê·¸ê±¸ ìˆ¨ê¸°ë ¤ëŠ” ë³€ëª…ìœ¼ë¡œ ë°–ì— ì•ˆëŠê»´ì§ˆ ìˆ˜ì¤€\nì§€ë‚˜ë©´ ì‘í™”ë“  ì—°ì¶œì´ë“  ë‹¤ë¥¸ ê±¸ë¡œë¼ë„ ë­”ê°€ ìˆê² ì§€ ë­”ê°€ ìˆê² ì§€\ní•˜ë‹¤ê°€ í•œ ì¿¨ ë‚´ë‚´ ë­”ê°€ ì—†ìœ¼ë‹ˆ\nì´ˆë°˜ë¶€ ë³´ë‹¤ ìŒ”í•˜ë©´ ë§˜í¸í•˜ê²Œ í•˜ì°¨í•´ë„ ë©ë‹ˆë‹¤',
  'created': '2022-09-04T18:49:51.350914',
  'modified': '2022-09-04T18:51:50.082083',
  'is_spoiler': False,
  'animation': 39986},
 {'_id': ObjectId('63229fd149994e87db0ad0b3'),
  'id': 34368206,
  'is_click_like': False,
  'count_like': 2,
  'profile': {'id': 5745672,
   'name': 'ì½”ì½”ë¹¡(jam**********)',
   'image': 'https://image.laftel.net/profiles/default/48363a65-24d6-45a0-9eac-8c1726656c63.png',
   'profile_rank': {'rank': 0, 'continued_membership_days': None}},
  'score': 5,
  'content': 'ì§€ê¸ˆê¹Œì§€ ì´ëŸ° ëµì‘ì€ ì—†ì—ˆë‹¤',
  'created': '2022-09-03T20:34:13.860920',
  'modified': '2022-09-03T20:34:13.864053',
  'is_spoiler': False,
  'animation': 39986},
 {'_id': ObjectId('63229fd149994e87db0ad0b4'),
  'id': 34344213,
  'is_click_like': False,
  'count_like': 2,
  'profile': {'id': 5560570,
   'name': 'ë‚¨ìˆ˜(wro******)',
   'image': 'https://image.laftel.net/profiles/default/58888b41-8ecd-4f4e-a890-24b2023d7f29.png',
   'profile_rank': {'rank': 2, 'continued_membership_days': None}},
  'score': 5,
  'content': 'ê·€ì¹¼ë³´ë‹¤ ê³ í‰ê°€ ë°›ì•„ì•¼í•˜ëŠ” ì‘í™”, ìŠ¤í† ë¦¬, ìºë¦­í„° ì™„ë²½í•œ ì• ë‹ˆ',
  'created': '2022-09-03T00:05:16.137113',
  'modified': '2022-09-03T00:05:16.141091',
  'is_spoiler': False,
  'animation': 39986}]

In [7]:
df = pd.DataFrame(profile)
df = df[["id", "profile", "content"]]
df["profile"] = df["profile"].map(lambda x:x["id"])
df

         id  profile                                            content
0  34380175  4523846                                                5ì .
1  34378719  2976649  ìƒê°ë³´ë‹¤ ì¬ë¯¸ê°€ ì—†ë„¤ ìºë¦­í„°ë“¤ì— ê°œì„±ë„ ë³„ë¡œ ì—†ê³  ì£¼ë³€ ì¸ë¬¼ë“¤ì˜ ë¹„ì¤‘ì´ ì ìŒ ê°œì„± ...
2  34377222  4759828                                                ì¬ë°ŒìŒ
3  34375517   134827                                               ì¬ë°Œë„¤?
4  34375366  5873764                                   ì£¼ìˆ íšŒì „ ã„´ã„´ ê³ ë¦´ë¼íšŒì „ ã…‡ã…‡
5  34373921  5393838         ì´ëŸ° ì• ë‹ˆë¥¼ ë³¸ ë‚´ê°€ ì°¸ ìë‘ìŠ¤ëŸ½ë‹¤ ì£¼ìˆ íšŒì „ ë•ì— ìœ íƒ€ë€ ìµœì• ë¥¼\në§Œë‚¬ì–´..
6  34362366  5842989                                                ë‚˜ë‚˜ë¯¸
7  34368644  2420394  ì˜¤ë½ì„±ì„ ìœ„í•´ ì„œì‚¬ë¥¼ ê°„ì¶”ë ¸ë‹¤ê³  ë³´ê¸°ì—”\nê·¸ëƒ¥ ì„œì‚¬ ìì²´ë¥¼ êµ¬ì„±í•  ëŠ¥ë ¥ì´ ì•ˆë˜ëŠ”ë° ...
8  34368206  5745672                                    ì§€ê¸ˆê¹Œì§€ ì´ëŸ° ëµì‘ì€ ì—†ì—ˆë‹¤
9  34344213  5560570                 ê·€ì¹¼ë³´ë‹¤ ê³ í‰ê°€ ë°›ì•„ì•¼í•˜ëŠ” ì‘í™”, ìŠ¤í† ë¦¬, ìºë¦­í„° ì™„ë²½í•œ ì• ë‹ˆ

# ğŸ“Œ ani_featureì— ìˆëŠ” relatedë¥¼ ani_infoì— ì €ì¥

In [1]:
import dotenv
import os
from pymongo import MongoClient

# í™˜ê²½ë³€ìˆ˜ ë¶ˆëŸ¬ì˜¤ê¸°
dotenv.load_dotenv(dotenv.find_dotenv())
USER = os.environ["MONGODB_USER"] # MongoDB user
PASSWORD = os.environ["MONGODB_PW"] # MongoDB password
PORT = int(os.environ["MONGODB_PORT"]) # MongoDB port

# DB ì—°ê²°
client = MongoClient("mongodb://" + USER + ":" + PASSWORD + "@j7e104.p.ssafy.io", PORT)

db = client.animations
dbcol_info = db.ani_info
dbcol_feat = db.ani_feature

In [3]:
import pandas as pd

df_info = pd.DataFrame(dbcol_info.find({}, {"id": 1}))
df_info = df_info[["id"]]
df_info.head()

      id
0  39986
1  39431
2  16075
3  38912
4  40562

In [6]:
df_related = pd.DataFrame(dbcol_feat.find({}, {"id": 1, "related": 1}))
df_related = df_related[["id", "related"]]
df_related.head()

      id                                            related
0  39986  [18029, 14678, 40371, 15454, 40040, 39268, 403...
1  39431  [16709, 38588, 40664, 19356, 38981, 14464, 405...
2  16075  [38982, 39883, 20634, 23266, 19437, 37187, 409...
3  38912  [38798, 21211, 15184, 39881, 19809, 39587, 214...
4  40562  [16709, 38588, 40664, 38981, 40598, 40511, 371...

In [24]:
related = pd.DataFrame(dbcol_feat.find_one({"id": 39986}, {"related": 1}), columns=["id", "related"])
related = related["related"].tolist()
related

[18029, 14678, 40371, 15454, 40040, 39268, 40375, 24255, 40195, 13706]

In [41]:
df_join = pd.merge(df_related, df_info, left_on="id", right_on="id", how='inner')
df_join.head()

      id                                            related
0  39986  [18029, 14678, 40371, 15454, 40040, 39268, 403...
1  39431  [16709, 38588, 40664, 19356, 38981, 14464, 405...
2  16075  [38982, 39883, 20634, 23266, 19437, 37187, 409...
3  38912  [38798, 21211, 15184, 39881, 19809, 39587, 214...
4  40562  [16709, 38588, 40664, 38981, 40598, 40511, 371...

In [42]:
def save_related(data):
    id = data["id"]
    dbcol_info.update_one({"id": id}, {"$set": {"related": data["related"]}}, upsert=True)

In [43]:
df_join.apply(save_related, axis=1)
print("ë¹„ìŠ·í•œ ì‘í’ˆ DB ì‚½ì… ì™„ë£Œ")

ë¹„ìŠ·í•œ ì‘í’ˆ DB ì‚½ì… ì™„ë£Œ